<!--create show-->
<br>
<%= render @comment%>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<%= button_to "Delete", [@post, @comment], method: :delete, class: "btn btn-secondary btn-danger", form: { data: { turbo_confirm: 'Are you sure?' } }%>
</div>
