<!--create show-->
<br>
<%= render @comment%>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to 'Destroy Comment', [@post, @comment],
               :confirm => 'Are you sure?',
               :method => :delete,
               class: "btn btn-danger mt-2"%>
</div>
